#paSideConatiner{
  width: 12%;
  height: 100%;
  position: fixed;
  background-color: #9D9D9F;
}
#allPhotoBtnOff{
  padding-left: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: auto;
  outline: none;
}
#allPhotoBtnOn{
  background-color: gray;
}
.sideBtn{
  padding-left: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: auto;
  outline: none;
}
#favorPhotoBtnOff{
  padding-left: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  width: auto;
  outline: none;
}
#favorPhotoBtnOn{
  background-color: gray;
}
.sideBtn:hover{
  background-color: gray;
}
#folderParentContainer{
  padding-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
#folderParentContainer:hover{
  
}
#makeFolderBtn{
  font-weight: normal;
}
#folderParent{
  width: 179px;
  cursor: pointer;
}
#folderParent:hover{
  background-color: gray;
}
#folderParentOption{
  padding-top: 2px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
#folderParentOption:hover{
  color: blue;
}

#folderList{
  list-style-type: none;
  margin-top: 3px;
}
#folders{
  width: 200px;
  display: flex;
}
.folderContainer{
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.folderName{
  display: block;
  max-width: 200px;
  width: 200px;
  cursor: pointer;
}
.folderName:hover{
  background-color: gray;
}
.folderOption{
  margin-right: 0px;
  display: block;
  width: 40px;
  cursor: pointer;
  padding-left: 5px;

}
.folderOption:hover{
  color: blue;
}